# --- Optional Configuration for strangers or production ---

# Optional: Set this to connect to MongoDB Atlas instead of the local Docker DB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/luxeride

# (These variables have defaults in docker-compose.yml so you don't actually need them at all)
# MONGODB_DB=luxeride
# JWT_SECRET=super-secret-key
# ADMIN_EMAIL=admin@luxeride.com
# ADMIN_PASSWORD=admin123
